body {
  font-family: Arial, sans-serif;
  background-color: hsl(148, 38%, 91%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.contact-form {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
  border: 2px solid rgb(80, 80, 80)
}

.contact-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: hsl(187, 24%, 22%);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: hsl(190, 23%, 22%);
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1.3px solid gray;
  border-radius: 6px;
  font-size: 14px;
}

textarea {
  resize: none;
  height: 80px;
}

.radio-group {
  display: flex;
  gap: 15px;
  margin-top: 5px;
}

.radio-group label {
  font-weight: normal;
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color:  hsl(186, 15%, 59%);
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}

.submit-btn:hover {
  background-color: hsl(169, 82%, 27%);
}
button{
    color: gray;
    background-color: white;;
    width: 400px;
    height: 40px;
}
.form-row {
  display: flex;
  justify-content: space-between;
  gap: 100px;  
}

.form-row .form-group {
  flex: 1;  
}
