* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;
  background-color: hsl(300, 24%, 96%);
  color: hsl(300, 43%, 22%);
  padding: 2rem;
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.intro {
  text-align: center;
  max-width: 600px;
  margin: auto;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  color: hsl(300, 43%, 22%);
  max-width: 20ch;
  text-align: left;
}

p {
  color: hsl(303, 10%, 53%);
  font-weight: 500;
}

.ratings {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.rating {
  background-color: hsl(300, 24%, 96%);
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.testimonials {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card {
  background-color: hsl(300, 43%, 22%);
  color: hsl(0, 0%, 100%);
  padding: 2rem;
  border-radius: 10px;
}

.card h3 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.card span {
  display: block;
  font-size: 0.9rem;
  color: hsl(333, 80%, 67%);
  font-weight: 500;
  margin-bottom: 1rem;
}

.card p {
  font-weight: 500;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 3rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  .ratings {
    flex-direction: row;
    justify-content: space-between;
  }

  .testimonials {
    flex-direction: row;
    justify-content: space-between;
  }

  .card {
    flex: 1;
  }
}

img{
    border-radius: 100%;
    width: 40px;
}
