.container {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  grid-template-rows: auto auto auto; 
  gap: 10px; 
  height: 100vh;
}
div {
    border-radius: 10px;
}
.item {
  padding: 20px;
  color: white;
  font-size: 24px;
  text-align: center;
}

.red {
  background: red;
  grid-column: 1 / 3;  

}

.blue {
  background: blue;
  grid-row: 2 / 4; 
}

.green {
  background: green;
  grid-row: 2;          
  grid-column: 2;
}


.purple1 {
  background: purple;
  grid-column: 2;      
  grid-row: 3; 
  width: 30%;
} 

.purple2 {
  background: purple;
  grid-column: 3;       
  grid-row: 3;
  
}

