body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.item {
    color: white;
    font-weight: bold;
    text-align: center;
    height: 120px;
    padding: 40px 0;
}


.green {
    background-color: green;
    grid-column: 1 / 2;
    grid-row: 1;
    width: 120%;
}

.purple {
    background-color: purple;
    grid-column: 2 / 3;
    grid-row: 1;

}

.orange {
    background-color: orange;
    grid-column: 1 / 2;
    grid-row: 2;
}

.orange2 {
    background-color: darkorange;
    grid-column: 2 / 3;
    grid-row: 2;
}
