body {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;

}

main {
    display: grid;
    border: solid 2px black;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.card {
    width: 300px;
    height: 300px;
    background-color: blueviolet;
}

#num1 {
    grid-row: 0/3;
    grid-column: 1/2;
    background-color: rgb(67, 67, 114);
}