body {
  margin: 0;
  padding: 0;
  background-image: url("https://images.pexels.com/photos/1525041/pexels-photo-1525041.jpeg?cs=srgb&dl=pexels-francesco-ungaro-1525041.jpg&fm=jpg");
  background-size: cover;         
  background-position: center;    
  background-repeat: no-repeat;    
  height: 100vh;               
}