 body {
      margin: 0;
      padding: 0;
      height: 100vh; 
      background-image: url(https://images.unsplash.com/photo-1503614472-8c93d56e92ce?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8NGslMjBsYW5kc2NhcGV8ZW58MHx8MHx8fDA%3D&fm=jpg&q=60&w=3000);
      background-size: cover;        
      background-position: center;   
      background-repeat: no-repeat;  
    }