@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: hsl(234, 12%, 34%);
}

body {
    background-color: #fafafa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

#textDiv {
    width: 30%;
    text-align: center;
}

/* 1rem = 16px */
#p1 {
    font-size: 2.25rem;
    font-weight: 200;
}

#p2 {
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 10px;
}

#cardDiv {
    display: flex;
    align-items: center;
    gap: 30px;
}

#middleDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.card {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    padding: 40px 50px;
    border-radius: 5px;
}

.card img {
    width: 60px;
    align-self: flex-end;
    margin-left: 50px;
}

.cardP1 {
    font-size: 1.25rem;
    font-weight: 600;
}

.cardP2 {
    font-size: 0.8rem;
}

.card1 {
    border-top: 5px solid hsl(180, 62%, 55%);
}

.card2 {
    border-top: 5px solid hsl(0, 78%, 62%);
}

.card3 {
    border-top: 5px solid hsl(34, 97%, 64%);
}

.card4 {
    border-top: 5px solid hsl(212, 86%, 64%);
}