*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: hsl(0, 0%, 95%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 2rem;
}

.card-container{
    display: flex;
    flex-direction: row;
    width: 900px;
    border-radius: 10px;
    overflow: hidden;
}

.card{
    padding: 2rem;
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    width: 50px;
    margin-bottom: 1rem;
}

.card h2 {
    font-family: cursive;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.card p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
    line-height: 1.5;
}

.learnmore {
    background-color: white;
    color: orange;
    text-decoration: none;
    padding: 0.7rem 1.5rem;
    border-radius: 25px;
    font-weight: bold;
    transition: color 0.3s;
    border: none;

}
.learnmore2 {
    background-color: white;
    color: rgb(37, 94, 180);
    text-decoration: none;
    padding: 0.7rem 1.5rem;
    border-radius: 25px;
    font-weight: bold;
    transition: color 0.3s;
    border: none;

}
.learnmore3 {
    background-color: white;
    color: rgb(37, 97, 37);
    text-decoration: none;
    padding: 0.7rem 1.5rem;
    border-radius: 25px;
    font-weight: bold;
    transition: color 0.3s;
    border: none;

}


.learnmore:hover {
    color: rgb(196, 187, 187);
    border: 1px solid white;
}

.sedan {
    background-color: hsl(31, 77%, 52%);
}

.suv {
    background-color: hsl(184, 100%, 22%);
}

.luxury{
    background-color: hsl(179, 100%, 13%);
}